<phpunit bootstrap="./bootstrap.php" colors="true" stopOnFailure="false" syntaxCheck="false" processIsolation="true">
   <testsuites>

      <testsuite name="Application unit test suite">
           <directory>./application</directory>
           <directory>./library</directory>
           <directory>./../application/modules/default/tests</directory>
           <directory>./../application/modules/auth/tests</directory>
            
            <logging>
                <log type="coverage-html" target="./log/coverage" charset="UTF-8"
                     yui="true" highlight="false" lowUpperBound="60" highLowerBound="90"/>
            </logging>
        </testsuite>

        <!-- Remove lines below to ignore selenium tests -->
        <!--
        <testsuite name="Suite for Selenium">
                <directory>./selenium</directory>
        </testsuite>
        -->
        

    </testsuites>
</phpunit>
