/* RESETS */
html {font-size:1.25em;}
html * {margin:0em; padding:0em; }
body {font:50% verdana,arial,helvetica,sans-serif; overflow:visible; }
img {border:none;}
ul {list-style-type:none;}
table { border-collapse: collapse; }

/* IE6 */
.ie6 { display:none; }

/* COMMON */
.fleft { float:left; }
.fright { float:right; }
.both { clear:both; }
.click { cursor:pointer; }
.hidden { display:none; }

/* ERRORS */
ul.errors  li { color:#f00; }
div.error { border:1px solid #f00; color:#f00; background:#FFDFDF; padding:1em; }

body {  }
div#page {  }
