SetEnv APPLICATION_ENV development 

php_value magic_quotes_gpc off

# maintenance mode - change to your IP
#RewriteCond %{REMOTE_ADDR} !^192\.168\.2\.7$
#RewriteRule ^.*$ maintenance.html [L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
